/*event.css*/

/*전체 설정*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 1vw;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    background-color: black;

    animation-name: bodybright;
    animation-duration: 3s;
    animation-fill-mode: both;
}

@keyframes bodybright {
    0% {
        background-color: black;
    }

    100% {
        background-color: white;
    }
}

/*헤더*/
header {
    width: 100%;
    padding: 15px 3%;
    position: fixed;
    z-index: 1;

    background-color: rgb(0, 0, 0, 0);
    color: white;

    animation-name: bright;
    animation-duration: 5s;
    animation-fill-mode: both;

    font-weight: bolder;
}

.topMenu {
    width: 100%;
    display: flex;
    justify-content: space-between;

    font-size: 1.4rem;
}

.menubox {
    width: 8vw;
    height: 60px;
}

#language {
    width: 80px;
    height: 30px;
    background-color: white;
    border: 0px;
    border-radius: 15px;

    text-align: center;
    font-size: 0.9rem;
    color: gray;

    opacity: 90%;

    position: relative;
    top: 18px;
}


/*헤더 리스트*/
#main>a,
#info>a,
#tour>a,
#event>a,
#booking>a {
    height: 60px;

    padding-top: 20px;
}

#full-menu>i {
    padding-top: 8px;
}

#clickMain {
    padding-top: 10px;
}

header li {
    width: 8vw;
    height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 1.1rem;
}

.info-list,
.tour-list,
.event-list,
.booking-list {
    display: none;
}


/*팝업헤더*/
.popupmenu {
    width: 100vw;
    height: 100vh;

    background-color: rgb(0, 0, 0, 0.5);
    background-blend-mode: multiply;

    position: fixed;
    z-index: 1;

    display: flex;
    flex-direction: row-reverse;
}

.popupmenu-container {
    width: 30vw;
    height: 100vh;

    background-color: white;

    padding: 20px;

    font-size: 1.5rem;
    font-weight: bold;
}

.popupmenu-container>hr {
    margin: 25px 0;
    background-color: #b3b9be;
    height: 1px;
    border: 0;
}

.popupmenu-box {
    text-align: left;
}

.popupmenu-box>ul {
    padding-left: 30px;
    text-align: left;

    font-size: 1.3rem;

    display: none;
}

.popupmenu-box li {
    margin-top: 10px;
}

.popupmenu-container>div:first-child {
    display: flex;
    justify-content: space-between;

    padding-right: 20px;
}

.x-mark {
    font-size: 2.5rem;
}

.hidden-none {
    display: none;
}


/*footer*/
footer {
    margin-top: 80px;
    padding: 50px 30px;

    width: 100%;
    background-color: #F8F8F8;

    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    animation-name: bright;
    animation-duration: 5s;
    animation-fill-mode: both;
}

.footertext {
    width: 50%;

    display: flex;
    flex-direction: column;
    align-items: end;
}

.footertext>p {
    font-size: 1rem;
    color: gray;

    display: inline-block;
}

#telBox {
    width: 11vw;
    background-color: #668BAE;
    padding: 5px;
    border-radius: 3px;
    margin: 5px;

    text-align: center;
    color: white;

    font-size: 1rem;
}

.footerlogo1 {
    width: 180px;
    height: 60px;

    background-image: url("https://royal.cha.go.kr/resource/templete/royal/img/common/ft_logo.svg");
    background-size: cover;


    margin-right: 15px;

    display: none;
}

.footerlogo2 {
    width: 100px;
    height: 70px;

    background-image: url("https://royal.cha.go.kr/resource/templete/royal/img/common/img_web.png");
    background-size: cover;

    margin-left: 15px;

    display: none;
}

.telBoxTable {
    display: none;

    border-collapse: collapse;
    color: gray;

    margin: 10px 0;
    margin-left: 5px;

    font-size: 1rem;
}

.telBoxTable td,
.telBoxTable th {
    border: 1px solid lightgrey;
    border-collapse: collapse;

    height: 35px;
    padding: 0 15px;
    text-align: left;

    word-break: break-all;
}

.telBoxTable th {
    border-top: 2px solid gray;
}

.telBoxTable th:first-child,
.telBoxTable td:first-child {
    border-left: 0;
}

.telBoxTable th:last-child,
.telBoxTable td:last-child {
    border-right: 0;
}


/*설문조사*/
fieldset {
    margin: 0 100px;
    padding: 30px;

    animation-name: move;
    animation-duration: 1s;
    animation-delay: 5.6s;
    animation-fill-mode: both;

    font-size: 1.25rem;
}

.researchIcon {
    font-size: 2rem;
    margin-right: 10px;
}

fieldset>p {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.radio {
    display: flex;
    flex-wrap: wrap;
}

.radio>div {
    width: 8.5vw;
    margin-right: 4.3vw;

    margin-bottom: 1.8vw;
}

.reserachText {
    width: 85%;
    height: 35px;

    margin-right: 5px;
    padding-left: 10px;
    padding-right: 10px;

    background-color: #dfdfdf;

    border: 0;
    border-radius: 5px;
}

.reserachButton {
    width: 50px;
    height: 35px;

    background-color: black;
    color: white;

    border: 0;
    border-radius: 5px;
}

/*flex-center*/
.flex-center-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    align-self: center;
}

.flex-between {
    display: flex;
    justify-content: space-between;
}


/*메인이미지 설정*/
.mianImg {
    width: 100%;
    height: 50vh;
    background-image: url("../자료/행사메인이미지.jpg");
    background-size: cover;
    background-position: center bottom;

    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: overlay;

    color: white;

    display: flex;
    justify-content: center;
    align-items: center;

    animation-name: mainImgbright;
    animation-duration: 5s;
}

@keyframes mainImgbright {
    0% {
        background-color: rgb(0, 0, 0, 1);
        background-blend-mode: multiply;
    }

    100% {
        background-color: rgba(0, 0, 0, 0.5);
        background-blend-mode: multiply;
    }
}

.mianImg>h1 {
    animation-name: move;
    animation-duration: 2s;
    animation-delay: 2s;
    animation-fill-mode: both;
}


/*nav*/
.nav {
    padding-left: 100px;
    padding-right: 100px;
    margin-top: 30px;

    color: gray;

    animation-name: move;
    animation-duration: 1s;
    animation-delay: 3s;
    animation-fill-mode: both;

    font-size: 1.2rem;
}

#navInfo {
    border: 0;
    margin-bottom: 20px;

    background: none;

    color: gray;

    font-size: 1.2rem;
}

/*달력*/
.event-date {
    padding: 30px 100px;
    margin-top: 30px;

    font-size: 1.3rem;
    text-align: center;

    animation-name: move;
    animation-duration: 1s;
    animation-delay: 3.6s;
    animation-fill-mode: both;
}

.move-month {
    width: 50px;
    height: 50px;

    background-color: rgba(0, 0, 0);

    color: white;

    opacity: 60%;
}

.move-month:hover {
    opacity: 100%;
}

.date-text {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 0 100px;
    margin-bottom: 30px;
}

.calendar {
    width: 100%;
    border-top: 2px solid gray;
    border-bottom: 2px solid gray;
    border-collapse: collapse;

    color: gray;
}

.calendar td {
    height: 40px;

    padding-top: 40px;
}

.calendar th {
    background-color: #F8F8F8;
    border-bottom: 1px solid lightgray;
    height: 70px;
}

.calendar th:first-child,
.calendar td:first-child {
    color: salmon;
}

.calendar th:last-child,
.calendar td:last-child {
    color: rgb(79, 135, 255);
}

.red-color {
    color: salmon;
}

.one {
    width: 7px;
    height: 7px;

    margin: 0 auto;

    border-radius: 100%;

    background-color: #44407e;

    margin-bottom: 20px;
}

.one-box>td {
    height: 5px;

    padding-top: 10px;
}

.one-box:last-child>td {
    padding-bottom: 20px;
}

.select-event {
    margin-top: 50px;
    margin-bottom: 20px;

    display: flex;
}

.content-slide {
    padding: 30px 100px;
    margin-bottom: 50px;

    font-size: 1rem;
    text-align: center;

    animation-name: move;
    animation-duration: 1s;
    animation-delay: 4.6s;
    animation-fill-mode: both;
}

.slect-full {
    width: 9vw;
    height: 4vw;

    border: 2.5px solid rgb(20, 20, 20);
    background-color: rgb(0, 0, 0, 0);

    font-weight: bold;

    border-radius: 30px;

    margin-right: 20px;

    font-size: 1.4rem;
}

.slect-full:focus {
    background-color: rgb(20, 20, 20);
    color: white;
    border: 0;
}

.select-1 {
    width: 10vw;
    height: 4vw;

    border: 2.5px solid #44407e;
    color: #44407e;
    background-color: rgb(0, 0, 0, 0);

    font-weight: bold;

    border-radius: 30px;

    margin-right: 20px;

    font-size: 1.4rem;
}

.select-1:focus {
    background-color: #44407e;
    color: white;
    border: 0;
}

.select-2 {
    width: 10vw;
    height: 4vw;

    border: 2.5px solid #b94343;
    background-color: rgb(0, 0, 0, 0);
    color: #b94343;

    font-weight: bold;

    border-radius: 30px;

    margin-right: 20px;

    font-size: 1.4rem;
}

.select-2:focus {
    background-color: #b94343;
    color: white;
    border: 0;
}

.slide {
    width: 55vw;

    text-align: center;

    position: relative;
    overflow: hidden;
}

.slide-item {
    margin: 80px 0;
    margin-right: 7.2vw;

    cursor: pointer;

    display: inline-flex;
    flex-direction: column;
    align-items: center;

    position: relative;

    transition-duration: 1s;
}

.slide-textbox1 {
    font-size: 1.2rem;

    color: rgb(85, 85, 85);
}

.slide-textbox2 {
    font-size: 1.2rem;

    color: rgb(85, 85, 85);

    margin-top: 10px;
}

.slide-item>h3 {
    font-size: 1.7rem;

    color: rgb(66, 66, 66);

    margin-bottom: 10px;
}

.item-infobox {
    width: 7vw;
    height: 2.5vw;

    background-color: #44407e;
    color: white;

    border-radius: 30px;

    font-size: 1rem;
    margin: 10px auto;
}

.item-infobox2 {
    width: 7vw;
    height: 2.5vw;

    border-radius: 30px;
}

.info-button {
    width: 11vw;
    height: 4vw;

    color: gray;

    border: 1px solid lightgray;

    font-size: 1rem;
    margin: 0 auto;
    margin-top: 20px;
}

.slide-move {
    width: 4vw;
    height: 4vw;

    background-color: rgba(0, 0, 0);

    border: 0;

    color: white;

    opacity: 60%;

    border-radius: 50px;

    transform: translateY(-13vw);
}

.slide-move:hover {
    opacity: 100%;
}

.slide-img1 {
    width: 24vw;
    height: 30.5vw;

    background-image: url("https://royal.cha.go.kr/afile/previewThumbnail/24032234812kxMJ5");
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
}

.slide-img2 {
    width: 24vw;
    height: 30.5vw;

    background-image: url("https://royal.cha.go.kr/afile/previewThumbnail/24032858041nY1T8");
    background-position: center bottom;
    background-size: cover;
    background-repeat: no-repeat;
}

.slide-img3 {
    width: 24vw;
    height: 30.5vw;

    background-image: url("https://royal.cha.go.kr/afile/previewThumbnail/24012452907MdADN");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.slide-img4 {
    width: 24vw;
    height: 30.5vw;

    background-image: url("https://royal.cha.go.kr/afile/previewThumbnail/24032214620RUW0k");
    background-position: center bottom;
    background-size: cover;
    background-repeat: no-repeat;
}

.slide-img5 {
    width: 24vw;
    height: 30.5vw;
}

.pop-up {
    width: 100%;
    height: 100vh;

    background-color: rgb(0, 0, 0, 0.7);
    background-blend-mode: multiply;

    position: fixed;

    z-index: 1;

    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
}

.pop-up>i {
    color: white;
    font-size: 2rem;
    margin: 0 7%;
}

.hidden {
    visibility: hidden;
}

.hidden-none {
    display: none;
}

.popUp-container {
    width: 1100px;
    height: 75%;

    margin: 0 auto;
    padding: 60px;

    background-color: white;
    border-radius: 10px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popup-info {
    width: 60%;
}

.popup-select {
    width: 100px;
    height: 35px;

    font-size: 0.9rem;

    background-color: #44407e;
    color: white;

    border-radius: 30px;

    margin-right: 20px;
}

.popup-info>hr {
    margin: 20px 0;
}

.popup-info>h2 {
    font-size: 1.5rm;
}

.popup-info>table {
    text-align: left;
    margin-top: 17px;
}

.popup-info th {
    width: 200px;
}

.popup-info th,
td {
    height: 37px;
}

.popup-info td {
    width: 400px;
}

.day {
    cursor: pointer;
}

.borderbottom {
    border-bottom: 3px solid rgb(255, 255, 255, 0.3);
}

/*애니메이션*/
@keyframes move {
    0% {
        opacity: 0;
        transform: translate(0, 200px);
    }

    100% {
        opacity: 100%;
        transform: translate(0, 0);
    }
}

@keyframes bright {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 100%;
    }
}


/*미디어 쿼리*/
@media screen and (min-width:1840px) {
    html {
        font-size: 0.8vw;
    }

    #telBox {
        width: 9vw;
    }
}

@media screen and (min-width:2300px) {
    html {
        font-size: 0.7vw;
    }
}

@media screen and (max-width:950px) {
    html {
        font-size: 1.3vw;
    }

    .middleText {
        display: none;
    }

    #main,
    #info,
    #tour,
    #event,
    #booking {
        visibility: hidden;
    }

    #language {
        width: 9vw;
        font-size: 0.8rem;
    }

    .topMenu {
        font-size: 2rem;
    }

    #telBox {
        width: 13vw;
    }

    .radio>div {
        width: 11vw;
        margin-right: 4.3vw;
    }
}

@media screen and (max-width:750px) {
    html {
        font-size: 2vw;
    }

    #language {
        width: 15vw;
        font-size: 1rem;
    }

    #telBox {
        width: 20vw;
    }

    footer {
        width: 100%;

        flex-wrap: wrap;
    }

    .footerlogo {
        width: 100%;

        display: flex;
        justify-content: space-between;
    }

    .footerlogo1 {
        display: block;
    }

    .footerlogo2 {
        display: block;
    }

    .footerlogo img {
        display: none;
    }

    .footertext {
        width: 100%;
        display: block;

        margin-top: 3%;
    }

    .telBoxTable {
        width: 70%;
        margin-right: 0;
    }

    .popupmenu-container {
        width: 40vw;
    }

    fieldset {
        margin: 0 50px;
        font-size: 1.2rem;
    }

    .radio>div {
        width: 20vw;
        margin-right: 0;
    }

    .reserachText {
        width: 85%;
    }

    .nav {
        padding: 0 50px;
    }

    .event-date {
        padding: 30px 50px;
    }

    .content-slide {
        padding: 30px 50px;
    }

    .slide {
        width: 40vw;
    }

    .slide-img1 {
        width: 40vw;
        height: 55vw;
    }
    
    .slide-img2 {
        width: 40vw;
        height: 55vw;
    }
    
    .slide-img3 {
        width: 40vw;
        height: 55vw;
    }

    .slide-img4 {
        width: 40vw;
        height: 55vw;
    }    


    .slide-item>h3 {
        font-size: 1.4rem;
    }

    .item-infobox {
        width: 12vw;
        height: 4vw;
    }

    .info-button {
        width: 15vw;
        height: 6vw;
    }

    .slect-full {
        width: 13vw;
        height: 5vw;

        font-size: 1.1rem;
    }

    .select-1 {
        width: 15vw;
        height: 5vw;

        font-size: 1.1rem;
    }

    .select-2 {
        width: 15vw;
        height: 5vw;

        font-size: 1.1rem;
    }

    .date-text {
        margin : 0;
        margin-bottom: 30px;
    }
}

@media screen and (max-width:650px) {

    .telBoxTable td,
    .telBoxTable th {
        height: 20vw;

        padding: 0;
    }
}

@media screen and (max-width:600px) {
    .reserachText {
        width: 80%;
    }
}

@media screen and (max-width:550px) {
    
}

@media screen and (max-width:475px) {
    .reserachText {
        width: 75%;
    }
}

@media screen and (max-width:450px) {
    html {
        width: 450px;
        font-size: 11px;
    }

    header {
        width: 450px;
    }

    #language {
        width: 60px;
        font-size: 1rem;
    }

    .popupmenu-container {
        width: 200px;
    }

    #telBox {
        width: 120px;
    }

    .telBoxTable {
        width: 450px;
    }

    .radio>div {
        width: 90px;
    }

    .item-infobox {
        width: 15vw;
        height: 5vw;
    }

    .info-button {
        width: 17vw;
        height: 7vw;
    }

    .slect-full {
        width: 13vw;
        height: 7vw;
    }

    .select-1 {
        width: 17vw;
        height: 7vw;
    }

    .select-2 {
        width: 17vw;
        height: 7vw;
    }
}