/*info.css*/

body {
    background-color: black;

    animation-name: bodyBright;
    animation-duration: 3s;
    animation-fill-mode: both;
}

@keyframes bodyBright {
    0%{
        background-color: black;
    }

    100%{
        background-color: white;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

header {
    width: 100%;
    padding: 15px 20px;
    position: fixed;
    z-index: 1;

    background-color: rgb(0, 0, 0, 0.8);
    color: white;
}

.headerBackgroundColor {
    background-color: white;
}

.topMenu{
    width: 100%;
    display: flex;
    justify-content: space-between;

    font-size: 1.1rem;
}

#language {
    width: 60px;
    background-color: white;
    border: 0px;
    border-radius: 15px;

    text-align: center;
    font-size: 0.7rem;
    color: gray;

    opacity: 90%;
}

.flex-center {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.mianImg {
    width: 100%;
    height: 500px;
    background-image: url(../../자료/img_intro_gbg.png);
    background-size: cover;

    background-color: rgba(0, 0, 0, 0.2);
    background-blend-mode: overlay;

    color: white;

    display: flex;
    justify-content: center;
    align-items: center;

    animation-name: mainImgbright;
    animation-duration: 5s;
}

@keyframes mainImgbright {
    0%{
        background-color: rgb(0, 0, 0, 1);
        background-blend-mode: multiply;}

    100%{
        background-color: rgba(0, 0, 0, 0.1);
        background-blend-mode: multiply;
    }
}

.info-content {
    padding: 30px 100px;
    text-align: center;
}

.info-content > h4 {
    margin: 40px auto;
    font-size: 1.2rem;
}

table {
    width: 100%;

    margin: 40px auto;
}

table, td, th {
    border: 1px solid gray;;
    border-collapse: collapse;
}

th, td {
    height: 35px;
    padding: 0 15px ;
    text-align: left;
}

th {
    background-color: rgb(202, 202, 202);
    color: white;
}

fieldset {
    margin: 0 100px;
    padding: 30px;
}

.researchIcon{
    font-size: 2rem;
    margin-right: 10px;
}

fieldset > p {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

fieldset > label {
    padding-right: 60px;
}

.reserachText {
    width: 70%;
    height: 35px;

    margin-top: 10px;
    margin-right: 5px;
    padding-left: 10px;
    padding-right: 10px;

    background-color: #dfdfdf;

    border: 0;
    border-radius: 5px;
}

.reserachButton {
    width: 50px;
    height: 35px;

    background-color: black;
    color: white;

    border: 0;
    border-radius: 5px;
}

footer {
    margin-top: 80px;
    padding:50px 30px;

    width: 100%;
    background-color: rgb(238, 238, 238);
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footertext {
    width: 70%;
}

.footertext > p {
    font-size: 0.8rem;
    color: gray;
}

.footertext > div {
    width: 150px;
    background-color: #668BAE;
    padding: 5px;
    border-radius: 3px;
    margin: 5px;

    text-align: center;
    color: white;
    
    font-size: 0.9rem;
}

.footerlogo1 {
    margin-right: 15px;
}

.footerlogo2 {
    margin-left: 15px;
}