/*mian.css*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    background-color: black;

    animation-name: bodybright;
    animation-duration: 3s;
    animation-fill-mode: both;
}

@keyframes bodybright {
    0% {background-color: black;}
    100% {background-color: white;}
}

header {
    width: 100%;
    padding: 15px 3%;
    position: fixed;
    z-index: 1;

    background-color: rgb(0, 0, 0, 0);
    color: white;

    animation-name: bright;
    animation-duration: 5s;
    animation-fill-mode: both;
}

.topMenu{
    width: 100%;
    display: flex;
    justify-content: space-between;

    font-size: 1.1rem;
}

.menubox {
    width: 12%;
    height: 60px;
}

#language {
    width: 80px;
    height: 30px;
    background-color: white;
    border: 0px;
    border-radius: 15px;

    margin-top: 13px;

    text-align: center;
    font-size: 0.7rem;
    color: gray;

    opacity: 90%;
}

.flex-center {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.GyeongbokgungImg {
    width: 100%;
    height: 100vh;
    background-image: url("https://cdn.pixabay.com/photo/2015/02/14/08/26/gwanghwamun-636113_1280.jpg");
    background-size: cover;
    background-position: center;

    animation-name: mainImgbright;
    animation-duration: 5s;
}

.sanggwabangImg {
    width: 100%;
    height: 100vh;
    background-image: url("https://www.chf.or.kr/jnrepo/upload/jnPrgPopupBanner/202404/b6c34ff9e5354ec4a93bb755370ade07_1711981922512.png");
    background-size: cover;
}

.nighttourImg {
    width: 100%;
    height: 100vh;
    background-image: url("https://www.chf.or.kr/jnrepo/upload/jnPrgPopupBanner/202404/b6c34ff9e5354ec4a93bb755370ade07_1711981922512.png");
    background-size: cover;
}

@keyframes mainImgbright {
    0%{
        background-color: rgb(0, 0, 0, 1);
        background-blend-mode: multiply;}

    100%{
        background-color: rgba(0, 0, 0, 0.1);
        background-blend-mode: multiply;
    }
}

.help {
    margin: 60px 80px;


    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    animation-name: move;
    animation-duration: 1s;
    animation-delay: 3.6s;
    animation-fill-mode: both;
}


.helpText {
    width: 20%;
}

.help > a {
    width: 120px;
    height: 120px;

    background-color: rgb(120, 127, 151);
    border-radius: 100px;

    color: white;
    text-align: center;
}

.helpIcon {
    font-size: 40px;
    margin: 18px;
}

.content-menu {
    padding: 20px 0;
    background-color: rgb(230, 230, 230);

    animation-name: move;
    animation-duration: 1s;
    animation-delay: 4.6s;
    animation-fill-mode: both;
}

.middle-start {
    display: flex;
    justify-content:flex-start;

    margin: 30px 0px;
}

.middle-end {
    display: flex;
    justify-content: flex-end;

    margin: 30px 0px;
}

.middleText {
    height: 150px;
    flex-wrap: wrap;
    align-content: center;
    margin-left: 20px;
}

.textalign-right{
    text-align: right;
    margin-right: 20px;
}

.textalign-center {
    text-align: center;
    margin-right: 20px;
}

.margin-top {
    margin-top: 80px;
}

.margin-bottom {
    margin-bottom: 30px;
}

.margin-bottom5 {
    margin-bottom: 10px;
}

.content-story{
    animation-name: move;
    animation-duration: 1s;
    animation-delay: 5.6s;
    animation-fill-mode: both;
}

.storybox {
    width: 280px;
    height: 270px;

    color: white;
    margin: 4px;
    text-align: center;

    padding: 20px;

    border-radius: 10px;
}

.story1 {
    background-image: url("https://cdn.pixabay.com/photo/2015/11/02/04/14/korea-1017901_1280.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.story2 {
    background-image: url("https://royal.cha.go.kr/afile/preview/5670");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.story3 {
    background-image: url("https://royal.cha.go.kr/afile/preview/5677");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.story4 {
    background-image: url("https://royal.cha.go.kr/afile/preview/5694");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.story5 {
    background-image: url("https://royal.cha.go.kr/afile/preview/5707");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.story6 {
    background-image: url("https://royal.cha.go.kr/afile/preview/5720");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.story7 {
    background-image: url("https://royal.cha.go.kr/afile/preview/5725");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.story8 {
    background-image: url("https://royal.cha.go.kr/afile/preview/5736");
    background-size: 250%;
    background-repeat: no-repeat;
    background-position: center center;
}

.story9 {
    background-image: url("https://royal.cha.go.kr/afile/preview/5741");
    background-size: 250%;
    background-repeat: no-repeat;
    background-position: center center;
}

.story10 {
    background-image: url("https://royal.cha.go.kr/afile/preview/5753");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.story11 {
    background-image: url("https://royal.cha.go.kr/afile/preview/5758");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.story12 {
    background-image: url("https://royal.cha.go.kr/afile/preview/5764");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.story13 {
    background-image: url("https://royal.cha.go.kr/afile/preview/5769");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.story14 {
    background-image: url("https://royal.cha.go.kr/afile/preview/5774");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.story14 {
    background-image: url("https://royal.cha.go.kr/afile/preview/5774");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.story15 {
    background-image: url("https://royal.cha.go.kr/afile/preview/5775");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.story16 {
    background-image: url("https://royal.cha.go.kr/afile/preview/5785");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.story17 {
    background-image: url("https://royal.cha.go.kr/afile/preview/5796");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.story18 {
    background-image: url("https://royal.cha.go.kr/afile/preview/5804");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.story19 {
    background-image: url("https://royal.cha.go.kr/afile/preview/5808");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.story20 {
    background-image: url("https://royal.cha.go.kr/afile/preview/5724");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.addBackColor {
    background-color: rgb(0, 0, 0, 0.5);
    background-blend-mode: overlay;
}

.addBorder {
    border: 5px double rgb(255, 255, 255);
    border-radius: 5px;
}

.storyP {
    font-size: 0.9rem;
    text-align: justify;

    margin: 0 auto;

    color: white;
}

.storyH4 {
    padding-bottom: 10px;
    font-size: 1.4rem;

    color: white;

}

.transition {
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
}

footer {
    margin-top: 80px;
    padding:50px 30px;

    width: 100%;
    background-color: #F8F8F8;
    
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    animation-name: bright;
    animation-duration: 5s;
    animation-fill-mode: both;
}

.footertext {
    width: 70%;
}

.footertext > p {
    font-size: 0.8rem;
    color: gray;
}

.footertext > div {
    width: 150px;
    background-color: #668BAE;
    padding: 5px;
    border-radius: 3px;
    margin: 5px;

    text-align: center;
    color: white;
    
    font-size: 0.9rem;
}

.footerlogo1 {
    margin-right: 15px;
}

.footerlogo2 {
    margin-left: 15px;
}

.telBoxTable {
    display: none;

    border-collapse: collapse;
    color: gray;

    margin: 10px 0;
    margin-left: 5px;
}

.telBoxTable td, .telBoxTable th {
    border: 1px solid lightgrey;
    border-collapse: collapse;

    height: 35px;
    padding: 0 15px ;
    text-align: left;
}

.telBoxTable th {
    border-top: 2px solid gray;
}

.telBoxTable th:first-child, .telBoxTable td:first-child {
    border-left: 0;
}

.telBoxTable th:last-child, .telBoxTable td:last-child {
    border-right: 0;
}

@keyframes move {
    0% {
        opacity: 0;
        transform: translate(0, 200px);
    }

    100% {
        opacity: 100%;
        transform: translate(0, 0);
    }
}

@keyframes bright {
    0%{opacity: 0;}
    100%{opacity: 100%;}
}

.mouseovercolor {
    background-color: black;
}