/*tour.css*/

/*전체 설정*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 1vw;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    background-color: black;

    animation-name: bodybright;
    animation-duration: 3s;
    animation-fill-mode: both;
}

@keyframes bodybright {
    0% {
        background-color: black;
    }

    100% {
        background-color: white;
    }
}

/*헤더*/
header {
    width: 100%;
    padding: 15px 3%;
    position: fixed;
    z-index: 1;

    background-color: rgb(0, 0, 0, 0);
    color: white;

    animation-name: bright;
    animation-duration: 5s;
    animation-fill-mode: both;

    font-weight: bolder;
}

.topMenu {
    width: 100%;
    display: flex;
    justify-content: space-between;

    font-size: 1.4rem;
}

.menubox {
    width: 8vw;
    height: 60px;
}

#language {
    width: 80px;
    height: 30px;
    background-color: white;
    border: 0px;
    border-radius: 15px;

    text-align: center;
    font-size: 0.9rem;
    color: gray;

    opacity: 90%;

    position: relative;
    top: 18px;
}


/*헤더 리스트*/
#main>a,
#info>a,
#tour>a,
#event>a,
#booking>a {
    height: 60px;

    padding-top: 20px;
}

#full-menu>i {
    padding-top: 8px;
}

#clickMain {
    padding-top: 10px;
}

header li {
    width: 8vw;
    height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 1.1rem;
}

.info-list,
.tour-list,
.event-list,
.booking-list {
    display: none;
}


/*팝업헤더*/
.popupmenu {
    width: 100vw;
    height: 100vh;

    background-color: rgb(0, 0, 0, 0.5);
    background-blend-mode: multiply;

    position: fixed;
    z-index: 1;

    display: flex;
    flex-direction: row-reverse;
}

.popupmenu-container {
    width: 30vw;
    height: 100vh;

    background-color: white;

    padding: 20px;

    font-size: 1.5rem;
    font-weight: bold;
}

.popupmenu-container>hr {
    margin: 25px 0;
    background-color: #b3b9be;
    height: 1px;
    border: 0;
}

.popupmenu-box {
    text-align: left;
}

.popupmenu-box>ul {
    padding-left: 30px;
    text-align: left;

    font-size: 1.3rem;

    display: none;
}

.popupmenu-box li {
    margin-top: 10px;
}

.popupmenu-container>div:first-child {
    display: flex;
    justify-content: space-between;

    padding-right: 20px;
}

.x-mark {
    font-size: 2.5rem;
}

.hidden-none {
    display: none;
}


/*설문조사*/
fieldset {
    margin: 0 100px;
    padding: 30px;

    animation-name: move;
    animation-duration: 1s;
    animation-delay: 5.6s;
    animation-fill-mode: both;
}

.researchIcon{
    font-size: 2rem;
    margin-right: 10px;
}

fieldset > p {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

fieldset > label {
    padding-right: 60px;
}

.reserachText {
    width: 70%;
    height: 35px;

    margin-top: 10px;
    margin-right: 5px;
    padding-left: 10px;
    padding-right: 10px;

    background-color: #dfdfdf;

    border: 0;
    border-radius: 5px;
}

.reserachButton {
    width: 50px;
    height: 35px;

    background-color: black;
    color: white;

    border: 0;
    border-radius: 5px;
}

/*footer*/
footer {
    margin-top: 80px;
    padding: 50px 30px;

    width: 100%;
    background-color: #F8F8F8;

    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    animation-name: bright;
    animation-duration: 5s;
    animation-fill-mode: both;
}

.footertext {
    width: 50%;

    display: flex;
    flex-direction: column;
    align-items: end;
}

.footertext>p {
    font-size: 1rem;
    color: gray;

    display: inline-block;
}

#telBox {
    width: 11vw;
    background-color: #668BAE;
    padding: 5px;
    border-radius: 3px;
    margin: 5px;

    text-align: center;
    color: white;

    font-size: 1rem;
}

.footerlogo1 {
    width: 180px;
    height: 60px;

    background-image: url("https://royal.cha.go.kr/resource/templete/royal/img/common/ft_logo.svg");
    background-size: cover;


    margin-right: 15px;

    display: none;
}

.footerlogo2 {
    width: 100px;
    height: 70px;

    background-image: url("https://royal.cha.go.kr/resource/templete/royal/img/common/img_web.png");
    background-size: cover;

    margin-left: 15px;

    display: none;
}

.telBoxTable {
    display: none;

    border-collapse: collapse;
    color: gray;

    margin: 10px 0;
    margin-left: 5px;

    font-size: 1rem;
}

.telBoxTable td,
.telBoxTable th {
    border: 1px solid lightgrey;
    border-collapse: collapse;

    height: 35px;
    padding: 0 15px;
    text-align: left;

    word-break: break-all;
}

.telBoxTable th {
    border-top: 2px solid gray;
}

.telBoxTable th:first-child,
.telBoxTable td:first-child {
    border-left: 0;
}

.telBoxTable th:last-child,
.telBoxTable td:last-child {
    border-right: 0;
}


/*플렉스 센터*/
.flex-center {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.mianImg {
    width: 100%;
    height: 50vh;
    background-image: url("https://cdn.pixabay.com/photo/2020/11/24/02/13/gyeongbok-palace-5771324_1280.jpg");
    background-size: cover;
    background-position: center;

    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: overlay;

    color: white;

    display: flex;
    justify-content: center;
    align-items: center;

    animation-name: mainImgbright;
    animation-duration: 5s;
}

@keyframes mainImgbright {
    0%{
        background-color: rgb(0, 0, 0, 1);
        background-blend-mode: multiply;}

    100%{
        background-color: rgba(0, 0, 0, 0.5);
        background-blend-mode: multiply;
    }
}

.mianImg > h1 {
    animation-name: move;
    animation-duration: 2s;
    animation-delay: 2s;
    animation-fill-mode: both;
}

/*nav 설정*/
.nav {
    padding-left: 100px;
    padding-right: 100px;
    margin-top: 30px;
    
    color: gray;

    animation-name: move;
    animation-duration: 1s;
    animation-delay: 3s;
    animation-fill-mode: both;
}

#navInfo {
    border: 0;
    font-size: 1rem;
    margin-bottom: 20px;

    background: none;

    color: gray;
}

.courseMap {
    padding: 30px 100px;
    margin-top: 20px;
    margin-bottom: 15px;

    font-size: 1rem;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    animation-name: move;
    animation-duration: 1s;
    animation-delay: 3.6s;
    animation-fill-mode: both;
}

.courseselect {
    display: flex;
    align-items: center;
}

.coursebox {
    width: 150px;
    height: 50px;

    border: 1px solid lightgray;
    border-radius: 30px;
    
    color: gray;

    margin-left: 20px;

    font-size: 1rem;
}

.coursebox > i {
    margin-right: 7px;
}

.mapselect {
    background-color: #F7F7F7;

    border-radius: 20px;
}

.mapfull {
    width: 80px;
    height: 50px;

    background-color: #F7F7F7;
    color: gray;
    border: 0;

    border-radius: 20px;
}

.mapfull:focus {
    background-color: #17106E;
    color: white;
}

.maptour {
    width: 100px;
    height: 50px;

    background-color: #F7F7F7;
    color: gray;
    border: 0;

    border-radius: 20px;
}

.maptour:focus {
    background-color: #17106E;
    color: white;
}

.mapshop {
    width: 100px;
    height: 50px;

    background-color: #F7F7F7;
    color: gray;
    border: 0;

    border-radius: 20px;
}

.mapshop:focus {
    background-color: #17106E;
    color: white;
}

.mapImg {
    padding: 50px 0;

    border: 1px solid lightgrey;
    border-radius: 20px;

    text-align: center;
    margin: 0 100px;
    margin-bottom: 100px;

    animation-name: move;
    animation-duration: 1s;
    animation-delay: 3.6s;
    animation-fill-mode: both;
}

.pop-up {
    position: fixed;
    z-index: 10;

    width: 100%;
    height: 100vh;

    background-color: rgb(0, 0, 0, 0.7);

    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
}

.hidden {
    visibility: hidden;
}

.pop-up > i {
    color: white;
    font-size: 2rem;
    margin: 0 3%;

    display: block;
}

.popup-container {
    width: 1200px;
    height: 800px;

    margin: 0 auto;

    background-color: white;
    border-radius: 10px;

    display: block;
}

.courseselect-popup {
    width: 100%;
    display: flex;

    margin: 10px 20px;
    margin-top: 28px;
}

.coursebox-popup > i {
    margin-right: 5px;
}

.coursebox-popup {
    width: 120px;
    height: 50px;

    border: 1px solid lightgray;

    color: gray;
    
    border-radius: 30px;

    margin-left: 20px;

    font-size: 0.8rem;
}

.selectColor {
    background-color: rgb(0, 0, 0, 0.8);
    color: white;
}

.popup-img{
    width: 43%;
    height: 100%;

    background-image: url("../자료/둘러보기맵.jpg");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.popup-course40 {
    width: 50%;
    height: 100%;

    background-image: url("../자료/40분코스.jpg");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;

    margin-top: 30px;
    margin-right: 20px;
}

.popup-course60 {
    width: 50%;
    height: 100%;

    background-image: url("../자료/60분코스.jpg");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;

    margin-top: 30px;
    margin-right: 20px;
}

.popup-course90 {
    width: 50%;
    height: 100%;

    background-image: url("../자료/90분코스.jpg");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;

    margin-top: 30px;
    margin-right: 20px;
}

.popup-middle {
    width: 100%;
    height: 45%;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.popup-infoText {
    width: 160px;
    height: 50px;

    border: 1px solid gray;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 20px;
    margin-top: 15px;
}

.popup-infoText > p {
    font-size: 1.1rem;
    font-weight: bold;
}

.popup-slide {
    width: 100%;
    height: 45%;

    background-color: #F7F7F7;
    border-radius: 10px;

    position: relative;

    display: flex;
    align-items: center;
    justify-content: space-between;

    overflow-x: hidden;

    padding: 0 20px;
}

.slides {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    overflow: hidden;
}

.slide-item {
    margin: 0 25px;
}

.controller {
    width: 35px;
    height: 32px;

    background-color: rgb(0, 0, 0, 0.5);
    color: white;
    border-radius: 50px;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}

.controller:hover {
    background-color: rgb(0, 0, 0, 1);
}

.slide-img1 {
    width: 170px;
    height: 160px;

    /*흥례문*/
    background-image: url("https://royal.cha.go.kr/afile/preview/3401");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    border-radius: 10px;
}

.slide-img2 {
    width: 170px;
    height: 160px;

    /*영제교*/
    background-image: url("https://royal.cha.go.kr/afile/preview/3370");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    border-radius: 10px;
}

.slide-img3 {
    width: 170px;
    height: 160px;

    /*근정전*/
    background-image: url("https://royal.cha.go.kr/afile/preview/3371");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    border-radius: 10px;
}

.slide-img4 {
    width: 170px;
    height: 160px;

    /*사정전*/
    background-image: url("https://royal.cha.go.kr/afile/preview/3372");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    border-radius: 10px;
}

.slide-img5 {
    width: 170px;
    height: 160px;

    /*경회루*/
    background-image: url("https://royal.cha.go.kr/afile/preview/3373");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    border-radius: 10px;
}

.slide-img6 {
    width: 170px;
    height: 160px;

    /*수정전*/
    background-image: url("https://royal.cha.go.kr/afile/preview/3374");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    border-radius: 10px;
}

.slide-img7 {
    width: 170px;
    height: 160px;

    /*교태전*/
    background-image: url("https://royal.cha.go.kr/afile/preview/3410");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    border-radius: 10px;
}

.slide-img8 {
    width: 170px;
    height: 160px;

    /*강녕전*/
    background-image: url("https://royal.cha.go.kr/afile/preview/3409");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    border-radius: 10px;
}

.slide-img9 {
    width: 170px;
    height: 160px;

    /*자경전*/
    background-image: url("https://royal.cha.go.kr/afile/preview/3411");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    border-radius: 10px;
}

.slide-img10 {
    width: 170px;
    height: 160px;

    /*향원정*/
    background-image: url("https://royal.cha.go.kr/afile/preview/5775");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    border-radius: 10px;
}

.slide-info {
    width: 170px;
    height: 45px;

    border: 1px solid gray;

    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 13px; /*없애지 말기*/
    padding: 15px; /*없애지 말기*/
}

.content-picture {
    padding: 0 100px;
    margin-top: 30px;
    margin-bottom: 15px;

    animation-name: move;
    animation-duration: 1s;
    animation-delay: 4.6s;
    animation-fill-mode: both;
}

.content-info {
    width: 100%;
    height: 50px;

    background-color: #F7F7F7;
    border: 1px solid lightgray;

    padding: 0 30px;
    margin-top: 90px;
    margin-bottom: 30px;

    font-size: 1rem;

    display: flex;
    align-items: center;
}

.content-info > i {
    margin-right: 8px;

    font-size: 1.2rem;
}

.select-picture {
    width: 100%;

    font-size: 1.2rem;

    padding: 40px 0;
    padding-left: 60px;
    padding-bottom: 40px;

    display: flex;
    flex-wrap: wrap;

    border: 1px solid lightgrey;

    margin-top: 40px;
}

.selectNumber {
    background-color: rgb(0, 0, 0, 0);
    border: 0;

    opacity: 50%;
    font-size: 1.1rem;

    text-align: left;

}

.selectNumber:focus {
    opacity: 100%;
}

.numBox {
    width: 30px;
    height: 30px;

    background-color: rgb(0, 0, 0);

    border-radius: 50%;

    color: white;

    display: inline-flex;
    justify-content: center;
    align-items: center;

    padding-top: 1px;
}

.select-picture > button {
    width: 200px;
    height: 50px;
}

.picture > h2 {
    margin-top: 50px;
}

.picture-img {
    width: 100%;
    padding-bottom: 50%;

    background-image: url("https://royal.cha.go.kr/afile/preview/4801");
    background-size: cover;
    background-position: center;

    margin: 40px 0;
}

.picture > p {
    font-size: 1.2rem;
    text-align: justify;

    margin-bottom: 60px;
}

.warning{
    margin: 50px 100px;
    margin-bottom: 100px;
    
    background-color: #F7F7F7;

    animation-name: move;
    animation-duration: 1s;
    animation-delay: 4.6s;
    animation-fill-mode: both;
}

.warningBox {
    width: 100%;

    padding: 30px;

    display: flex;
    align-items: center;

    font-size: 1rem;
}

.warningBox > img {
    margin-right: 18px;
}

.borderbottom {
    border-bottom: 3px solid rgb(255, 255, 255, 0.3);
}

/*애니메이션*/
@keyframes move {
    0% {
        opacity: 0;
        transform: translate(0, 200px);
    }

    100% {
        opacity: 100%;
        transform: translate(0, 0);
    }
}

@keyframes bright {
    0%{opacity: 0;}
    100%{opacity: 100%;}
}

@keyframes bright {
    0%{opacity: 0;}
    100%{opacity: 100%;}
}

/*미디어 쿼리*/
@media screen and (min-width:1840px) {
    html {
        font-size: 0.8vw;
    }

    .helpItem>a {
        width: 10vw;
        height: 10vw;
    }

    #telBox {
        width: 9vw;
    }
}

@media screen and (min-width:2300px) {
    html {
        font-size: 0.7vw;
    }

    .helpItem>a {
        width: 8vw;
        height: 8vw;
    }

    .storybox {
        width: 18vw;
        height: 18vw;
    }
}

@media screen and (max-width:950px) {
    html {
        font-size: 1.3vw;
    }

    .middleText {
        display: none;
    }

    .middleImg>h2,
    .middleImg>p {
        display: block;
    }

    #main,
    #info,
    #tour,
    #event,
    #booking {
        visibility: hidden;
    }

    #language {
        width: 9vw;
        font-size: 0.8rem;
    }

    .topMenu {
        font-size: 2rem;
    }

    #telBox {
        width: 13vw;
    }
}


@media screen and (max-width:750px) {
    html {
        font-size: 2vw;
    }

    #language {
        width: 15vw;
        font-size: 1rem;
    }

    #telBox {
        width: 20vw;
    }

    footer {
        width: 100%;

        flex-wrap: wrap;
    }

    .footerlogo {
        width: 100%;

        display: flex;
        justify-content: space-between;
    }

    .footerlogo1 {
        display: block;
    }

    .footerlogo2 {
        display: block;
    }

    .footerlogo img {
        display: none;
    }

    .footertext {
        width: 100%;
        display: block;

        margin-top: 3%;
    }

    .telBoxTable {
        width: 70%;
        margin-right: 0;
    }

    .popupmenu-container {
        width: 40vw;
    }
}

@media screen and (max-width:650px) {
    .telBoxTable td,
    .telBoxTable th {
        height: 20vw;

        padding: 0;
    }
}

@media screen and (max-width:450px) {
    html {
        width: 450px;
        font-size: 11px;
    }

    header {
        width: 450px;
    }

    #language {
        width: 30px;
        font-size: 1rem;
    }

    .popupmenu-container {
        width: 200px;
    }

    #telBox {
        width: 120px;
    }

    .telBoxTable {
        width: 450px;
    }
}