/*tour.css*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    background-color: black;

    animation-name: bodybright;
    animation-duration: 3s;
    animation-fill-mode: both;
}

@keyframes bodybright {
    0% {background-color: black;}
    100% {background-color: white;}
}

a {
    text-decoration: none;
    color: inherit;
}

header {
    width: 100%;
    padding: 15px 3%;
    position: fixed;
    z-index: 1;

    background-color: rgb(0, 0, 0, 0);
    color: white;

    animation-name: bright;
    animation-duration: 5s;
    animation-fill-mode: both;
}

.topMenu{
    width: 100%;
    display: flex;
    justify-content: space-between;

    font-size: 1.1rem;
}

#language {
    width: 80px;
    height: 30px;
    background-color: white;
    border: 0px;
    border-radius: 15px;

    margin-top: 13px;

    text-align: center;
    font-size: 0.7rem;
    color: gray;

    opacity: 90%;
}

.menubox {
    width: 12%;
    height: 60px;
}

.flex-center {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.mianImg {
    width: 100%;
    height: 50vh;
    background-image: url("https://cdn.pixabay.com/photo/2020/11/24/02/13/gyeongbok-palace-5771324_1280.jpg");
    background-size: cover;
    background-position: center;

    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: overlay;

    color: white;

    display: flex;
    justify-content: center;
    align-items: center;

    animation-name: mainImgbright;
    animation-duration: 5s;
}

@keyframes mainImgbright {
    0%{
        background-color: rgb(0, 0, 0, 1);
        background-blend-mode: multiply;}

    100%{
        background-color: rgba(0, 0, 0, 0.5);
        background-blend-mode: multiply;
    }
}

.mianImg > h1 {
    animation-name: move;
    animation-duration: 2s;
    animation-delay: 2s;
    animation-fill-mode: both;
}

.nav {
    padding-left: 100px;
    padding-right: 100px;
    margin-top: 30px;
    
    color: gray;

    animation-name: move;
    animation-duration: 1s;
    animation-delay: 3s;
    animation-fill-mode: both;
}

#navInfo {
    border: 0;
    font-size: 1rem;
    margin-bottom: 20px;

    background: none;

    color: gray;
}

.courseMap {
    padding: 30px 100px;
    margin-top: 20px;
    margin-bottom: 15px;

    font-size: 1rem;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    animation-name: move;
    animation-duration: 1s;
    animation-delay: 3.6s;
    animation-fill-mode: both;
}

.courseselect {
    display: flex;
    align-items: center;
}

.coursebox {
    width: 150px;
    height: 50px;

    border: 1px solid lightgray;
    border-radius: 30px;

    margin-left: 20px;

    font-size: 1rem;
}

.coursebox > i {
    margin-right: 7px;
}

.mapselect {
    background-color: #F7F7F7;

    border-radius: 20px;
}

.mapfull {
    width: 80px;
    height: 50px;

    background-color: #F7F7F7;

    border-radius: 20px;
}

.maptour {
    width: 100px;
    height: 50px;

    background-color: #F7F7F7;

    border-radius: 20px;
}

.mapshop {
    width: 100px;
    height: 50px;

    background-color: #F7F7F7;

    border-radius: 20px;
}

.mapImg {
    padding: 50px 0;

    border: 1px solid gray;
    border-radius: 20px;

    text-align: center;
    margin: 0 100px;
    margin-bottom: 100px;

    animation-name: move;
    animation-duration: 1s;
    animation-delay: 3.6s;
    animation-fill-mode: both;
}

.flex-center {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.content-picture {
    padding: 0 100px;
    margin-top: 30px;
    margin-bottom: 15px;

    animation-name: move;
    animation-duration: 1s;
    animation-delay: 4.6s;
    animation-fill-mode: both;
}

.content-info {
    width: 100%;
    height: 50px;

    background-color: #F7F7F7;
    border: 1px solid lightgray;

    padding: 0 30px;
    margin-top: 90px;
    margin-bottom: 30px;

    font-size: 1rem;

    display: flex;
    align-items: center;
}

.content-info > i {
    margin-right: 8px;

    font-size: 1.2rem;
}

.select-picture {
    width: 100%;

    font-size: 1.2rem;

    padding: 40px;
    padding-bottom: 20px;

    display: flex;
    flex-wrap: wrap;

    border: 1px solid lightgrey;

    margin-top: 40px;
}

.numBox {
    width: 30px;
    height: 30px;

    background-color: rgb(0, 0, 0, 0.8);

    border-radius: 50%;

    color: white;

    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.select-picture > span {
    width: 170px;
    height: 50px;
}

.picture > h2 {
    margin-top: 50px;
}

.picture-img {
    width: 100%;
    padding-bottom: 50%;

    background-image: url("https://royal.cha.go.kr/afile/preview/4801");
    background-size: cover;
    background-position: center;

    margin: 40px 0;
}

.picture > p {
    font-size: 1.2rem;
    text-align: justify;

    margin-bottom: 60px;
}

.warning{
    margin: 50px 100px;
    margin-bottom: 100px;
    
    background-color: #F7F7F7;

    animation-name: move;
    animation-duration: 1s;
    animation-delay: 4.6s;
    animation-fill-mode: both;
}

.warningBox {
    width: 100%;

    padding: 30px;

    display: flex;
    align-items: center;

    font-size: 1rem;
}

.warningBox > img {
    margin-right: 18px;
}

fieldset {
    margin: 0 100px;
    margin-top: 50px;
    padding: 30px;

    animation-name: move;
    animation-duration: 1s;
    animation-delay: 5.6s;
    animation-fill-mode: both;
}

.researchIcon{
    font-size: 2rem;
    margin-right: 10px;
}

fieldset > p {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

fieldset > label {
    padding-right: 60px;
}

.reserachText {
    width: 70%;
    height: 35px;

    margin-top: 10px;
    margin-right: 5px;
    padding-left: 10px;
    padding-right: 10px;

    background-color: #dfdfdf;

    border: 0;
    border-radius: 5px;
}

.reserachButton {
    width: 50px;
    height: 35px;

    background-color: black;
    color: white;

    border: 0;
    border-radius: 5px;
}

footer {
    margin-top: 80px;
    padding:50px 30px;

    width: 100%;
    background-color: #F8F8F8;
    
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    animation-name: bright;
    animation-duration: 5s;
    animation-fill-mode: both;
}

.footertext {
    width: 70%;
}

.footertext > p {
    font-size: 0.8rem;
    color: gray;
}

.footertext > div {
    width: 150px;
    background-color: #668BAE;
    padding: 5px;
    border-radius: 3px;
    margin: 5px;

    text-align: center;
    color: white;
    
    font-size: 0.9rem;
}

.footerlogo1 {
    margin-right: 15px;
}

.footerlogo2 {
    margin-left: 15px;
}

.telBoxTable {
    display: none;

    border-collapse: collapse;

    margin: 10px 0;
    margin-left: 5px;
}

td, th {
    border: 1px solid gray;;
    border-collapse: collapse;

    height: 35px;
    padding: 0 15px ;
    text-align: left;
}

@keyframes move {
    0% {
        opacity: 0;
        transform: translate(0, 200px);
    }

    100% {
        opacity: 100%;
        transform: translate(0, 0);
    }
}

@keyframes bright {
    0%{opacity: 0;}
    100%{opacity: 100%;}
}
